XmlSerializationWcfService/ShopSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="ShopSchema"
    targetNamespace="http://serialization.shop"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/ShopSchema.xsd"
    xmlns:mstns="http://tempuri.org/ShopSchema.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Shop">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="name" type="xs:string"/>
      <xs:element minOccurs="0" maxOccurs="1" name="rating" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
